.navbar {
  position: relative;
  background-color: #d7e7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

#dark.navbar {
  color: white;
  background-color: #0d0d2b;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo h3 {
  font-size: 1em;
  font-weight: 700;
}
.navbar-logo img {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  padding: 0.1em;
  margin-right: 0.4em;
}

.navlink-desktop {
  display: none;
}
.navlink-mobile {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: #d7e7f6;
  width: 100%;
  left: 0;
  top: 4.5em;
  height: 33vh;
  z-index: 1;
  border-top: 1px solid #ccc;
}
#dark.navlink-mobile {
  background-color: #0d0d2b;
}
.navlinks {
  width: 100%;
  text-align: right;
}
.navlinks ul li {
  margin: 2em 2em;
  list-style: none;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.nav-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3em ;
}
.nav-buttons button {
  margin: 0 0.5em;
}
#dark.login {
  background-color: #fff;
}

@media (min-width: 801px) {
  .navlink-mobile {
    display: none;
  }
  .hambuger {
    display: none;
  }
  .navbar{
    padding: 1em 3em;
    border-bottom:none;
  }
  .navlink-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .navlinks-desktop ul {
    display: flex;
    justify-content: space-between;
    margin-left: 3em;
  }
  .navlinks-desktop ul li {
    list-style: none;
    margin: 0 3em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
  }
  #dark.navlinks-desktop ul li{
    color: rgba(255, 255, 255, 0.7);
  }
  #dark.login {
    background-color: #fff;
  }
  
  .nav-buttons{
    margin: 0;
  }
}
