.container {
  width: 100%;
  margin: 0 auto;
  font-size: 0.9em;
}
button {
  font-size: 0.7em;
  margin-top: 1em;
  padding: 1em 2em;
  font-weight: 500;
  border-radius: 50px;
  border: none;
  background-color: transparent;
}
.button1 {
  border: 1px solid black;
}
.button2 {
  background-color: #3671e9;
  color: white;
}
.button3 {
  background-color: white;
}

.colored-text {
  color: #3671e9;
}

.cointainer-header {
  padding: 2em 1em;
}
/* small phones */
@media (max-width: 400px) {
  .container {
    font-size: 0.85em;
  }
}
/* tablet */
@media (min-width: 769px) {
  .container {
    width: 100%;
    margin: 0 auto;
    font-size: 1.1em;
  }
}
/* pc */
@media (min-width: 1025px) {
  .container {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
  }
}
